.tabs {
  margin-bottom: 50px;
}

.tabs__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs__list-item--active {
  border: 2px solid $border-color;
  border-bottom-color: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tabs__list-item--inactive {
  border-bottom: 2px solid $border-color;
}

.tabs__link-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 10px 15px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: $light-blue;

  &:hover {
    transform: scale3d(1.02,1.02,1.02);
  }
}
